* {
  box-sizing: border-box;
}

body {
  background-color: #F4D04E;
  font-family: 'figtree';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background-color: #FFF;
  border: 1px solid #111;
  width: 384px;
  height: 522px;
  border-radius: 20px;
  box-shadow: 10px 10px;
  padding: 24px;
}

img {
  border-radius: 10px;
  width: 336px;
  height: 200px;
}

.content {
  width: 336px;
  height: 194px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h1 {
  background-color: #F4D04E;
  font-size: 14px;
  line-height: 150%;
  width: fit-content;
  padding: 4px 12px;
  margin: 0;
  font-weight: 500px;
  border-radius: 4px;
}

.text1 {
  margin-top: 12px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500px;
}

h2 {
  margin: 12px 0;
  font-size: 24px;
  line-height: 150%;
  font-weight: bolder;
}

h2:hover {
  color: #F4D04E;
  cursor: pointer;
}

.text2 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500px;
}

#author {
  height: 32px;
  width: 32px;
}

h3 {
  display: inline;
  margin-left: 12px;
  font-size: 14px;
  position: relative;
  bottom: 12px;
  line-height: 150%;
}